In [2]:
# Import the random, pandas, numpy, and datetime libraries for later use
import random 
import pandas as pd
import numpy as np
from datetime import datetime, timedelta

In [19]:
# Set the seed for random number generation
random.seed(2023)

gender_opt = ['MALE','FEMALE']
urb_opt = ['URBAN','RURAL']

mpd_raw = pd.read_csv('../data/MPD_sample_synthetic.csv')
mpd_crm = mpd_raw[['msisdn']].drop_duplicates().reset_index(drop=True)
mpd_crm['gender'] = mpd_crm['msisdn'].apply(lambda x: random.choice(gender_opt))
mpd_crm['age'] = mpd_crm['msisdn'].apply(lambda x: random.randint(6,99))
display(mpd_crm)

mpd_urb = mpd_raw[['cell_id']].drop_duplicates().reset_index(drop=True)
mpd_urb['zone_classification'] = mpd_urb['cell_id'].apply(lambda x: random.choice(urb_opt))
display(mpd_urb)

            msisdn  gender  age
0     subscriber_1  FEMALE   43
1     subscriber_2  FEMALE   12
2     subscriber_3  FEMALE   54
3     subscriber_4  FEMALE   53
4     subscriber_5  FEMALE   57
..             ...     ...  ...
95   subscriber_96  FEMALE   51
96   subscriber_97    MALE   88
97   subscriber_98  FEMALE   69
98   subscriber_99    MALE   60
99  subscriber_100    MALE   73

[100 rows x 3 columns]

    cell_id zone_classification
0        86               URBAN
1        71               URBAN
2        18               RURAL
3        59               RURAL
4       100               RURAL
..      ...                 ...
95       16               URBAN
96       84               RURAL
97       43               RURAL
98       57               RURAL
99       26               RURAL

[100 rows x 2 columns]

In [20]:
mpd_crm.to_csv('../data/MPD_sample_synthetic_CRM.csv',index=False,sep='\t')
mpd_urb.to_csv('../data/MPD_sample_synthetic_zone.csv',index=False,sep="\t")